<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 声明查询具有 MAIN 和 LAUNCHER 属性的应用 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>
    <!-- 读取应用列表权限 -->
    <uses-permission android:name="com.android.permission.GET_INSTALLED_APPS" />
    <!-- 闹钟设置权限 -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <!-- 请求忽略电池优化 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!-- 通知使用权限 -->
    <uses-permission
        android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <!-- 安装APK权限 -->
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:ignore="RequestInstallPackagesPolicy" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <!-- 开机监听权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 通知权限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- 生物验证权限 -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:name=".SlyCoffer"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ManagerAssistant.Static"
        tools:targetApi="33">
        <activity
            android:name=".ui.pages.main.settings.sub.AboutActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.main.MainActivity" />
        <activity
            android:name=".ui.pages.main.settings.sub.DataManageActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.main.MainActivity" />
        <activity
            android:name=".ui.pages.main.settings.sub.AutoBookkeepingActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.main.MainActivity" />
        <activity
            android:name=".ui.pages.main.settings.sub.PermissionManageActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.main.MainActivity" />
        <activity
            android:name=".ui.pages.budget.BudgetInputActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.budget.BudgetListActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.pages.budget.BudgetListActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.main.MainActivity" />
        <activity
            android:name=".ui.pages.media.FullScreenMediaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.app_list.AppSelectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.pages.notification.rule.NotificationRuleInputActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.notification.rule.NotificationRuleListActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.pages.notification.rule.NotificationRuleListActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.main.MainActivity" />
        <activity
            android:name=".ui.pages.tag.TagListActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.main.MainActivity" />
        <activity
            android:name=".ui.pages.tag.TagInputActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.tag.TagListActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.pages.report.ReportActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.main.MainActivity" />
        <activity
            android:name=".ui.pages.main.bookkeeping.RunningAccountInputActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.main.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.pages.AuthActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.pages.notification.capture.NotificationCaptureListActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.notification.rule.NotificationRuleListActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.pages.notification.capture.CapturedNotificationRuleInputActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.notification.capture.NotificationCaptureListActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.pages.accessibility.rule.AccessibilityRuleListActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.main.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.pages.accessibility.rule.AccessibilityRuleInputActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.accessibility.rule.AccessibilityRuleListActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.pages.accessibility.pick.PickedPageListActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.main.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.pages.accessibility.pick.PickedPageInputActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.accessibility.pick.PickedPageListActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.pages.report.RunningAccountSelectActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.pages.main.settings.sub.media.MediaListActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.pages.media.MediaInfoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.pages.main.settings.sub.TroubleshootingActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.main.settings.sub.AboutActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.pages.notification.group.NotificationRuleGroupListActivity"
            android:exported="false"
            android:parentActivityName=".ui.pages.notification.rule.NotificationRuleListActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.pages.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- 预算重置检查闹钟的接收器 -->
        <receiver
            android:name=".automation.broadcast.BudgetResetReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="被每天0点检查预算的闹钟触发的预算重置接收器">
            <intent-filter>
                <action android:name="com.sly.coffer.BudgetResetReceiver" />
            </intent-filter>
        </receiver>
        <!-- 开机启动监听器 -->
        <receiver
            android:name=".automation.broadcast.BootReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="开机完毕的监听器，用于自动安排第二天0点的预算重置闹钟">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 兼容旧版本 Android 需要添加以下权限 -->
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <!-- 通知内联回复监听器 -->
        <receiver
            android:name=".automation.broadcast.AbNotificationActionsReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="通过自动记账确认通知进行各种操作的接收器" />
        <!-- 通知监听服务，用于实现自动记账 -->
        <service
            android:name=".automation.services.AbNotificationListenerService"
            android:exported="false"
            android:label="自动记账通知监听服务"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <!-- 无障碍记账服务 -->
        <service
            android:name=".automation.services.AbAccessibilityService"
            android:exported="false"
            android:label="@string/accessibility_title_auto_bookkeeping"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:ignore="AccessibilityPolicy">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/bookkeeping_accessibility_service_config" />
        </service>
        <!-- 无障碍视图拾取服务 -->
        <service
            android:name=".automation.services.PickAccessibilityService"
            android:exported="false"
            android:label="@string/accessibility_title_page_pick"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:ignore="AccessibilityPolicy">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/pick_accessibility_service_config" />
        </service>
    </application>

</manifest>